@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 25 25% 15%;

    --card: 0 0% 100%;
    --card-foreground: 25 25% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 25 25% 15%;

    --primary: 36 100% 63%;
    --primary-foreground: 25 25% 10%;

    --secondary: 36 30% 88%;
    --secondary-foreground: 25 25% 15%;

    --muted: 36 30% 88%;
    --muted-foreground: 25 25% 35%;

    --accent: 39 93% 78%;
    --accent-foreground: 25 25% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 36 20% 80%;
    --input: 36 20% 85%;
    --ring: 36 100% 63%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 24 10% 10%;
    --foreground: 60 90% 98%;

    --card: 24 10% 12%;
    --card-foreground: 60 90% 98%;

    --popover: 24 10% 10%;
    --popover-foreground: 60 90% 98%;

    --primary: 36 100% 63%;
    --primary-foreground: 25 25% 10%;

    --secondary: 36 20% 20%;
    --secondary-foreground: 60 90% 98%;

    --muted: 36 20% 20%;
    --muted-foreground: 60 90% 92%;

    --accent: 39 93% 78%;
    --accent-foreground: 25 25% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 36 20% 30%;
    --input: 36 20% 30%;
    --ring: 36 100% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
